title: "Manan Mukherjee"
description: "Biostatistics | Interpretable ML | Exposome & Longitudinal Cohorts"
url: ""          # set to https://<username>.github.io
baseurl: "/WebDeploy"      # if repo is https://<username>.github.io/<repo>, set to "/<repo>"

markdown: kramdown
kramdown:
  input: GFM

plugins:
  - jekyll-feed

permalink: /blog/:year/:month/:day/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
